<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Kitty Quizzical</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->

    <div id="app">
      <h1>Welcome to the Great Kitty Quizzical</h1>
      <div>
        <h2>Select Your Kitty Knowledge Level to Begin</h2>
        <div class="quiz-selector">
          <button type="button" v-on:click="quizSelector = easy" >Kitty Newbie</button>
          <button type="button" v-on:click="quizSelector = medium">Kitty Dabbler</button>
          <button type="button" v-on:click="quizSelector = hard">Kitty Enthusiast</button>
          <button type="button" v-on:click="quizSelector = extraHard">Kitty Expert</button>
        </div>
      </div>



      <div class="question" v-for="(question, index) in easy.questions">
        <div v-show="index === questionIndex && quizSelector === easy">
        <h2>{{question.question}}</h2>
          <ol>
            <li v-for="answer in question.answers">
              <label>
                <input type="radio" v-bind:value="answer.correct" v-bind:name="index" v-model="easyAnswers[index]"> {{answer.ans}}
              </label>
            </li>
          </ol>
          <button type="submit" v-on:click="submit">Next Question</button>
        </div>
      </div>
      <div v-show="questionIndex === easy.questions.length">
        Your score is {{easyScore()}} out of {{easy.questions.length}}
      </div>
      <div class="question" v-for="(question, index) in medium.questions">
          <div v-show="index === questionIndex && quizSelector === medium">
          <h2>{{question.question}}</h2>
            <ol>
              <li v-for="answer in question.answers">
                <label>
                  <input type="radio" v-bind:value="answer.correct" v-bind:name="index" v-model="mediumAnswers[index]"> {{answer.ans}}
                </label>
              </li>
            </ol>
            <button type="submit" v-on:click="submit">Next Question</button>
          </div>
        </div>
        <div v-show="questionIndex === medium.questions.length">
          Your score is {{mediumScore()}} out of {{medium.questions.length}}
        </div>
    </div>





  <script src="js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="js/plugins.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/main.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>
